* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #2e2f42;
  --second-color: #ffffff;
  --third-color: #e7e9fc;
  --fourth-color: #434455;
  --fifth-color: #4d5ae5;
  --sixth-color: #f4f4fd;
  --seventh-color: #404bbf;
  --eigth-color: #31d0aa;
  --ninth-color: #8e8f99;
  --tenth-color: #757575;
  --eleventh-color: #2F2F37;  
}

body {
  min-width: 320px;
  font-family: Roboto, sans-serif;
  background-color: var(--second-color);
  line-height: 1.5;
  margin: 0 auto;
}

 .mw-1440 {
  width: 368px;
}

.container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


 /* ! TODO: TO THE HAMBURGER MENU */

.header {
  display: flex;
  align-items: center;
  width: 100%;
  /* */
  background-color: var(--second-color);
  border-bottom: 1px solid var(--third-color);
}

.nav-bar {
  min-width: 320px;
  padding: 16px;
  flex: 1;
  display: block;
  /* align-items: center;
  justify-content: space-between; */
}


header nav a:hover {
  color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav a::after {
  content: '';
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: var(--seventh-color);
  display: block;
  position: relative;
  opacity: 0;
  bottom: -20px;
  transition: all 0.2s;
  pointer-events: none;
}

.hamburger-menu{
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.hamburger{
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  background-color: var(--eleventh-color);
}

#menu-toggle {
  display: none;
}

.nav-bar-list {
  display: none;
  gap: 40px;
}



.fw-500 {
  font-weight: 500;
}

.text-color-white {
  color: var(--second-color);
}

.main-heading {
  z-index: 99;
}

.header-text,
.footer-main-page {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

a:hover {
  color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover::after {
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav a {
  text-decoration: none;
  color: var(--first-color);
}

.fw-700 {
  font-weight: 700;
}

.first-bc {
  background-color: var(--first-color);
}

.header-text-first {
  color: var(--first-color);
  font-family: 'Raleway', sans-serif;
}

.header-text-second {
  color: var(--sixth-color);
  font-family: 'Raleway', sans-serif;
}

span {
  color: var(--fifth-color);
  font-family: 'Raleway', sans-serif;
}

img {
  width: 264px;
  border: none;
}

li {
  list-style-type: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}

.hero {
  background-image: linear-gradient(#2e2f42b2, #2e2f42b2),
    url('../people-office1.png');
}

.button-section-one {
  text-align: center;
  height: 432px;
}

.main-heading {
  margin-top: 72px;
  margin-left: 52px;
  margin-right: 52px;
  font-size: 36px;
}

.centered-heading {
  text-align: center;
}

.first-button {
  width: 169px;
  height: 56px;
  margin-bottom: 72px;
  background-color: var(--fifth-color);
  box-shadow: none;
  border-radius: 4px;
  border-style: none;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--first-color);
}

p {
  color: var(--fourth-color);
}

button:hover {
  background-color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 16px;
  list-style: none;
  flex-wrap: wrap;
}

.section2-list {
  width: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
}

.section2-list-icons {
  display: none;
}

.team-section {
  background-color: var(--sixth-color);
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  gap: 72px;
}

.team-section-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.team-section-list > li {
  min-height: 428px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  background-color: var(--second-color);
}
.icons {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.link-icons {
  border-radius: 50%;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: var(--fifth-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icons:hover {
  background-color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  width: 16px;
  height: 16px;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list > li {
  width: 288px;
  height: 400px;
  border-bottom: 1px solid var(--third-color);
  border-left: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
}

.image-box {
  width: 286px;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.image-box img {
  display: block;
  width: 100%;
  height: auto;
}

.image-box .hover-box {
  position: absolute;
  inset: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--fifth-color);
  letter-spacing: 1px;
  transform: translateY(100%);
  transition: transform 250ms;
}

.image-box:hover .hover-box {
  transform: translateY(0);
  color: var(--sixth-color);
  padding: 15px 23px 15px;
}

.hover-box > p {
  color: var(--sixth-color);
}

.portfolio-card {
  width: 288px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-card > h3,
.portfolio-card > p {
  padding-left: 16px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 664px;
}

.footer-section {
  display: flex;
  color: var(--sixth-color);
  gap: 24px;
  flex-wrap: wrap;
}

.text-section {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-section > p,
.media-section > p {
  color: var(--sixth-color);
}

.media-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.media-section > p {
  font-weight: 500;
}

.social-links-icons {
  display: flex;
  gap: 16px;
}

.social-links-icons img {
  width: 24px;
  height: 24px;
}

.social-links-icons a:hover,
.footer-form-button:hover {
  background-color: var(--eigth-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.footer-form {
  display: flex;
  gap: 16px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  background-color: var(--first-color);
  border-radius: 4px;
  color: var(--second-color);
  border: 1px solid;
  /* padding-left: 0;
  margin-left: 0; */
}

.footer-form-button {
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--fifth-color);
  box-shadow: none;
  border-radius: 4px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form > input[type='email']:focus {
  border: 1px solid var(--eigth-color);
}

.footer-form-input::placeholder {
  color: var(--second-color);
  padding-left: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.is-open {
  display: flex;
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--first-color);
}

.close-btn:hover {
  color: var(--second-color);
  background-color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content {
  background: var(--second-color);
  min-width: 288px;
  border-radius: 4px;
  padding: 72px 16px 16px 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: slideIn 0.3s ease-out;
}

.modal-form > label,
.modal-form > textarea,
.modal-form > .form-checkbox {
  display: block;
  color: var(--ninth-color);
  font-size: 12px;
}

.form-input-icons {
  position: relative;
}



@media screen and (min-width: 768px) {
  body {
  min-width: 768px;
  font-family: Roboto, sans-serif;
  background-color: var(--second-color);
  line-height: 1.5;
  margin: 0 auto;
}
  .mw-1440 {
  width: 768px;
}

.container {
  min-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  /* */
  background-color: var(--second-color);
  border-bottom: 1px solid var(--third-color);
}

.nav-bar {
  min-width: 768px;
  padding: 16px 24px; 
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 118px;
}

.hamburger-menu{
  display: none ;
}

.hamburger{
  display: none;
}

.nav-bar-list {
  display: flex;
  gap: 40px;
}

.address{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

  .button-section-one {
    height: 436px;
  }

  .main-heading {
    margin-top: 112px;
    margin-left: 136px;
    margin-right: 136px;
    font-size: 56px;
  }
  .first-button {
    margin-bottom: 112px;
  }
  .section2-list {
    width: 356px;
    display: flex;
    align-items: center;
  justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .section2-list-icons {
    display: none;
  }

  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
    flex-wrap: wrap;
  }

  .portfolio-list {
    gap: 24px;
  }

  .portfolio-list > li {
    width: 356px;
    height: 420px;
  }

  .image-box {
    width: 354px;
    height: 300px;
  }

  .image-box:hover .hover-box {
    transform: translateY(0);
    color: var(--sixth-color);
    padding: 20px 30px 20px;
  }

  .portfolio-card {
    width: 356px;
    height: 120px;
    flex-wrap: wrap;
  }

  footer {
    min-height: 456px;
  }

  .footer-section {
    gap: 72px;
  }

  .footer-form {
    width: 453px;
    gap: 24px;
  }

  .modal-content {
    min-width: 408px;
    padding: 72px 24px 24px 24px;
  }

 
}

@media screen and (min-width: 1440px){
  body {
  min-width: 1440px;
  font-family: Roboto, sans-serif;
  background-color: var(--second-color);
  line-height: 1.5;
  margin: 0 auto;
}

 .mw-1440 {
  width: 1440px;
}

.container {
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--second-color);
  border-bottom: 1px solid var(--third-color);
}

.nav-bar {
  min-width: 1440px;
  padding: 24px 156px; 
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .nav-bar {
  min-width: 1440px;
} */

.hamburger{
  display: none;
}

.nav-bar-list {
  display: flex;
  gap: 40px;
}

.address{
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}

  .button-section-one {
    height: 600px;
  }

  .main-heading {
    margin-top: 188px;
    margin-left: 472px;
    margin-right: 472px;
    font-size: 56px;
  }

  .first-button {
    margin-bottom: 188px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .section2-list > li > h3 {
    margin: 8px;
    margin-left: 0;
  }

  .section2 {
    padding: 120px 156px;
    flex-wrap: wrap;
  }

  .section2-list {
    width: 264px;
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .section2-list-icons {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 112px;
    border: 1px solid var(--ninth-color);
    border-radius: 4px;
    background-color: var(--sixth-color);
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .section2-list-icons > svg {
    width: 64px;
    height: 64px;
  }
  .team-section {
    background-color: var(--sixth-color);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    gap: 24px;
  }
  .portfolio-list > li {
    width: 360px;
    height: 420px;
  }

  .image-box {
    width: 358px;
    height: 300px;
  }

  .image-box:hover .hover-box {
    transform: translateY(0);
    color: var(--sixth-color);
    padding: 32px 40px 32px;
  }

  .portfolio-card {
    width: 360px;
    height: 120px;
  }

  footer {
    min-height: 312px;
  }

  .footer-section {
    gap: 120px;
  }

  .footer-form {
    width: 453px;
    gap: 24px;
  }

  .modal-content {
    min-width: 408px;
    padding: 72px 24px 24px 24px;
  }
 
}


.form-input-icons input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-input-icons svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.modal-form > div > input {
  display: inline-block;
}

.modal-form > div > input,
.modal-form > textarea {
  border: 1px solid var(--ninth-color);
  border-radius: 4px;
}
.modal-button {
  margin: 0 auto;
  width: 169px;
  min-height: 56px;
  background-color: var(--fifth-color);
  box-shadow: none;
  border-radius: 4px;
  border-style: none;
  display: block;
  box-sizing: border-box;
}

.modal-button:hover {
  background-color: var(--seventh-color);
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  color: var(--first-color);
  border-style: none;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  border-color: var(--fifth-color);
  box-shadow: 0 0 0 3px rgba(91, 95, 239, 0.1);
}

.form-input-icons:focus-within svg {
  fill: #5b5fef;
  color: #5b5fef;
}

.modal-text {
  color: var(--first-color);
  text-align: center;
  font-size: 16px;
}
/* .form-checkbox {
  align-self: center;
} */

.form-checkbox input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  flex-shrink: 0;
  background-color: transparent;
  vertical-align: middle;
}

.form-checkbox input[type='checkbox']:checked {
  background-color: var(--seventh-color);
  border-color: var(--seventh-color);
}

.form-checkbox input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-checkbox > label {
  font-weight: 400;
  font-size: 12px;
  color: var(--tenth-color);
}
